<div class="row">
  <div class="medium-2 columns">
    <%= render "movies/side_nav" %>
  </div>

  <div class="medium-10 columns">
    <!-- render partial: "movies/movie", collection: @movies -->
    <%= render @movies %>
  </div>
</div>
